<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vuinfo.vunfo"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.vuinfo.vunfo.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.vuinfo.vunfo.permission.MAPS_RECEIVE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vu_info_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.vuinfo.vunfo.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.MainMenu"
            android:label="@string/main_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.History"
            android:label="@string/history"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.HistyErly"
            android:label="@string/histy_erly"
            android:parentActivityName="com.vuinfo.vunfo.History"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.History" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.HistyIntro"
            android:label="@string/histy_intro"
            android:parentActivityName="com.vuinfo.vunfo.History"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.History" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.HistyPopulation"
            android:label="@string/histy_population"
            android:parentActivityName="com.vuinfo.vunfo.History"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.History" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.HistyReColonization"
            android:label="@string/histy_re_colonization"
            android:parentActivityName="com.vuinfo.vunfo.History"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.History" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.HistyScienceC"
            android:label="@string/histy_science_c"
            android:parentActivityName="com.vuinfo.vunfo.History"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.History" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.HistyVuJugo"
            android:label="@string/histy_vu_jugo"
            android:parentActivityName="com.vuinfo.vunfo.History"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.History" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.HistyVuWar"
            android:label="@string/histy_vu_war"
            android:parentActivityName="com.vuinfo.vunfo.History"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.History" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.Structure"
            android:label="@string/structure"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.SightsCulture"
            android:label="@string/sightsculture"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.SportsActivity"
            android:label="@string/sports"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.Numbers"
            android:label="@string/nubmers"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.Map"
            android:label="@string/map"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.HotelsActivity"
            android:label="@string/hotels"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.GasStationActivity"
            android:label="@string/gas"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.DrugstoreActivity"
            android:label="@string/drugstore"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.RestaurantActivity"
            android:label="@string/restaurant"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.ShoppingCentersActivity"
            android:label="@string/shopping_centers"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.Events"
            android:label="@string/events"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.VUBusStop"
            android:label="@string/vubus"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.VUuEU"
            android:label="@string/vueu"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.Options"
            android:label="@string/options"
            android:parentActivityName="com.vuinfo.vunfo.MainMenu"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.MainMenu" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.FootballActivity"
            android:label="@string/football_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.BasketballActivity"
            android:label="@string/basketball_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.VolleyballActivity"
            android:label="@string/volleyball_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.HandballActivity"
            android:label="@string/handball_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.TennisActivity"
            android:label="@string/tennis_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.CombatSportsActivity"
            android:label="@string/combat_sports_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.ChessActivity"
            android:label="@string/chess_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.BocceActivity"
            android:label="@string/bocce_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.OtherSportsActivity"
            android:label="@string/other_sports_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.FitnessActivity"
            android:label="@string/fitness_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.SportsAssociationActivity"
            android:label="@string/sports_association_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>
        <activity
            android:name="com.vuinfo.vunfo.MapsActivity"
            android:label="@string/maps_name"
            android:parentActivityName="com.vuinfo.vunfo.SportsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vuinfo.vunfo.SportsActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBqz7m20m_kCwccv1D00gmPRMX2BuEIGgA" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>